html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
.wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: #aaa;
}
header {
	text-align: center;
	margin-bottom: 30px;
	background: #555;
	vertical-align: center;
	margin-bottom: 3rem;
}
.header-wrapper-one {
	border: 1px solid black;
	padding: 2%;
}
.header-wrapper-two {
	border: 1px solid #ddd;
	padding: 2%;
}
h1 {
	font-size: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: white;
}
h2 {
	font-size: 2rem;
	color: #ddd;
}
nav {
	width: 16%;
	background: #444;
	float: left;
	margin-left: 2%;
	text-align: center;
	border: 1px solid black;
}
nav a {
	display: block;
	text-decoration: none;
	padding: 1.5rem .5rem;
	color: white;
}
nav hr {
	width: 80%;
}
.main-wrapper {
	width: 82%;
	float: right;
	text-align: center;
	/*background: pink;*/
}
/*clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:"hello";
	display: block;
	clear:both;
	}*/
.column section {
	width: 86%;
	padding-bottom: 5%;
	/*background: yellow;*/
}
.column section img {
	width: 100%;
	border: 1px solid white;
}
.column section h3 {
	text-align: center;
	margin-top: 5%;
}
.column section a {
	text-decoration: none;
}
.section-wrapper {
	padding: 7%;
	border: 1px solid black;
	background: #444;
	margin-bottom: 2rem;
	overflow: hidden;
}
.section-wrapper h3 {
	color: white;
	margin-top: .6rem;
}
#col-one,
#col-two,
#col-three,
#col-four {
	width: 24%;
	float: left;
	margin-bottom: 40px;
}
#col-one {
	margin-left: 4%;
}
footer {
	clear: both;
	/*background: #666;*/
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/*breakpoint to have one image per row*/
@ media (max-width: 650px) {

}

/*breakpoint to go to two images per row*/
@media (max-width: 850px) {
	
}

/*adjust width of images so they don't overlfow wrapper*/
@media (min-width: 1400px){
	
}