html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
.wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: #aaa;
}
body {
	font-family: 'Roboto', sans-serif;
}
header,
nav,
.section-wrapper {
	/*background: #5C5C5C;*/
	background: #4E4E4E;
	border-radius: 2px;
}
header {
	text-align: center;
	margin-bottom: 2rem;
	vertical-align: center;
	margin-bottom: 3.5rem;
}
.header-wrapper-one {
	border: 1px solid #222;
	padding: 2%;
}
.header-wrapper-two {
	border: 1px solid #ddd;
	padding: 2%;
}
.bottom-of-main p {
	color: #4E4E4E;
	margin-bottom: 3rem;
}
h1 {
	font-family: 'Chonburi', serif;
	font-weight: normal;
	font-size: 3rem;
	margin-top: 1.2rem;
	margin-bottom: 1.5rem;
	color: white;
}
h2, h3 {
	color: white;
	font-weight: normal;
}
h2 {
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
}
nav {
	width: 16%;
	float: left;
	margin-left: 2%;
	text-align: center;
	border: 1px solid #222;
	/*display: none;*/
}
nav a {
	display: block;
	text-decoration: none;
	padding: 1.5rem .5rem;
	color: white;
}
nav a:first-child {
	margin-top: 1rem;
}
nav a:last-child {
	margin-bottom: 1rem;
}
nav hr {
	width: 80%;
}
.main-wrapper {
	width: 82%;
	float: right;
	text-align: center;
}
/*clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content:"hello";
	display: block;
	clear:both;
	}*/
.column section {
	width: 86%;
	padding-bottom: 5%;
}
.column section img {
	width: 100%;
	/*border: 1px solid white*/;
}
.column section h3 {
	text-align: center;
	margin-top: 5%;
}
.column section a {
	text-decoration: none;
}
.section-wrapper {
	padding: 10%;
	box-shadow: 4px 4px 6px #222;
	margin-bottom: 2rem;
}
.section-wrapper h3 {
	color: white;
	margin-top: .6rem;
}
#col-one,
#col-two,
#col-three,
#col-four {
	width: 24%;
	float: left;
	margin-bottom: 5rem;
}
#col-one {
	margin-left: 4%;
}
footer {
	clear: both;
	text-align: center;
}

/*media query to go to one image per row*/
@media (max-width: 375px) {
	nav {
		display: none;
	}
	.main-wrapper {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
	header {
		margin-bottom: 2rem;
	}
	h1 {
		font-size: 1.5rem;
		margin-bottom: .8rem;
	}
	h2 {
		font-size: 1.2rem;
	}
	#col-one,
	#col-two,
	#col-three,
	#col-four {
		width: 96%;
		float: none;
		margin-bottom: 2rem;
	}
}

@media (max-width: 600px) {
	nav {
		display: none;
		width: 0;
	}
	.main-wrapper {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
}

/*breakpoint to go to two images per row*/
@media (max-width: 900px) {
	#col-one,
	#col-two,
	#col-three,
	#col-four {
		width: 48%;
		float: left;
		margin-bottom: 5rem;
	}

	#col-one,
	#col-two {
		margin-bottom: 0;
	}
	#col-three {
		margin-left: 4%;
	}
	
}

/*adjust height of.section-wrapper*/
@media (min-width: 1200px){


}