
body {
align-self: center;
margin: 10px 150px 10px 150px;
}

h1, h2, li {
	font-family: 'Noto Sans JP', sans-serif;
	color: #072ac8;
}

h2, ul {
	color: #133c55;
	margin: 0 auto;
}

ul {
	padding: 30px;
}
	
a {
	color:#058c42;
	text-decoration: none;
}
ul {
	margin:0 0 60px 0;
}
img {
	margin:10px 20px 0 20px;
}
h2	{
	margin: 0 0 8px 0;
}

