/*html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }*/
.wrapper {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	background: #ddd;
}
header {
	text-align: center;
	margin-bottom: 30px;
	background: red;
	padding: 5%;
}
.main-wrapper {
	width: 83%;
	float: right;
	text-align: center;
	/*background: pink;*/
}
.column section {
	width: 80%;
	padding-bottom: 5%;
	/*background: yellow;*/
}
.column section img {
	width: 100%;
}
#shoes, #overalls {
	width: 80%;
}
.column section h3 {
	text-align: center;
	margin-bottom: 5%;
}
.column section a {
	text-decoration: none;
}
.section-wrapper {
	padding: 3%;
	height: 250px;
	border: 1px solid black;
	background: teal;
	margin-bottom: 3%;
}
#col-one {
	width: 24%;
	float: left;
	margin-left: 4%;
}
#col-two {
	width: 24%;
	float: left;
}
#col-three {
	width: 24%;
	float: left;
}
#col-four {
	width: 24%;
	float: left;
}

nav {
	width: 15%;
	background: #444;
	padding-left: 2%;
}
nav a {
	display: block;
	text-decoration: none;
	padding: 1.5rem .5rem;
	color: white;
}
nav {
	float: left;
}
footer {
	clear: both;
	background: #666;
	text-align: center;
}

/*breakpoint to have one image per row*/
@ media (max-width: 650px) {

}

/*breakpoint to go to two images per row*/
@media (max-width: 850px) {
	
}

/*adjust width of images so they don't overlfow wrapper*/
@media (min-width: 1400px){
	
}