
body {
font-family: 'Lato', sans-serif;
font-size: 1rem;
}.toolbar {
		color: white;
		background: #555;
		padding-top: 1em;
		padding-bottom: 2em;
		height: 1.5em;
		box-sizing: border-box;
		position: relative;
	}
	#sign-up {
		text-align: right;
		padding-top: 1.2em;
		padding-right: 6%;
		padding-bottom: 1.2em;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		color: white;
		background: #555;
		z-index: 10;
		height: 1.5em;
		
	}
label {
	font-family: 'Lato', sans-serif;
	font-size: .8888em;
}
input {
	border-radius: 3px;
	border-color: #transparent;
}
input[type="email"] {
	margin-left: .5rem;
	padding-left: .25rem;
	background: #ddd;
	border: none;
}
header {
	margin-top: 1rem;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	position: relative;
}
.company-name img {
	height: 9rem;
	vertical-align: bottom;
	margin-right: 1rem;
}
.logo-for-mobile img {
	display: none;
}
h1 {
	font-family: 'PT Serif', serif;
	margin-top: 0;
	margin-left: -9rem;
	margin-bottom: 1.5rem;
	text-align: center;
	font-size: 3rem;
	line-height: 9rem;
	color: black;
}
nav {margin-top: 1.2rem;
	margin-bottom: 1.8rem;
}
nav li {
	list-style-type: none;
	display: inline-block;
	padding: 1em 2em;
}
nav a {
	color: black;
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	text-decoration: none;
	font-weight: 400;
}
nav a:hover,
nav a:focus {
	color: red;
}
.wrapper {
	padding: 0 4em;
	margin: 0 auto;
	max-width: 1250px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
	
}
.three_column {
	padding: 1.3rem;

}
.three_column img {
	width: 100%;
}
.three_column p {
	text-align: center;
}
.left, .middle, .right {
	width: 23%;
	padding: 5%;
	float: left;
}
.left p, .middle p, .right p {
	margin-bottom: .8rem;
}
#link-to-size-sheets h2{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#link-to-size-sheets a {
	text-decoration: none;
	font-family: Lato, sans-serif;
	font-weight: bold;
	font-size: 1.4rem;
	line-height: 2.2rem;
	color: black;
}
#link-to-size-sheets a:hover, 
#link-to-size-sheets a:focus {
	color: red;
}
footer	{
	background: #eee;
	position: relative;
	margin-top: 3rem;
}
footer .wrapper {
	width: 100%;
}
footer img {
	height: 4rem;
	display: inline-block;
	position: absolute;
	top: 40%;
	left: 42%;
}
footer ul {
	list-style-type: none;
	padding: 1.2em 0;
	line-height: 1.5rem;
}
footer ul a {
	text-decoration: none;
	color: #505151;
}
footer a:hover {
	color: black;
}


@media only screen and (max-width: 600px) {
	.left, .middle, .right {
		float: none;
		width: 80%;
		text-align: center; 
	}
	.toolbar {
		display: none;
	}
	nav {
		display: none;
	}
	.company-name  {
		position: relative;
	}
	.company-name h1 {
		font-size: 2rem;
		position: absolute;
		left: 52%;
		top: -1rem;
		margin-top: 7rem;
		margin-bottom: 6rem;
	}
	.company-name h1 img {
		display: none;
	}
	.logo-for-mobile {
		position: relative;
	}
	.logo-for-mobile img {
		display: block;
		height: 10rem;
		margin-right: auto;
		margin-left: auto;
	}
}

@media only screen and (max-width: 450px) {
		.logo-for-mobile img {
			display: block;
			height: 6rem;
			margin-right: auto;
			margin-left: auto;
	}
	.company-name h1 {
		font-size: 2rem;
		position: absolute;
		left: 52%;
		top: -5rem;
		margin-top: 7rem;
		margin-bottom: 6rem;
	}
}

@media only screen and (max-width: 930px) {
	#what,
	#story,
	#sizes {
		display: none;
	}
}



