body {
	color: black;
	font-family: Lato, sans-serif;
	font-size: 1rem;
	}
	.toolbar {
		color: white;
		background: #555;
		padding-top: 1em;
		padding-bottom: 2em;
		height: 1.5em;
		box-sizing: border-box;
		position: relative;
	}
	#sign-up {
		text-align: right;
		margin-right: 6%;
	}
	label {
		font-family: 'Lato', sans-serif;
		font-size: .8888em;
	}
	input {
		border-radius: 3px;
		border-color: #transparent;
	}
	input[type="email"] {
		margin-left: .5rem;
		padding-left: .25rem;
		background: #ddd;
		border: none;
	}
#hamburger-for-horiz-mobile {
		display: none;
	}
header {
	margin-top: 1.4rem;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	position: relative;
}
.company-name img {
	height: 9rem;
	vertical-align: bottom;
	margin-right: 1rem;
}
.logo-for-mobile img {
	display: none;
}
h1 {
	font-family: 'PT Serif', serif;
	margin-top: 0;
	margin-left: -9rem;
	margin-bottom: 1.5rem;
	text-align: center;
	font-size: 3rem;
	line-height: 9rem;
	color: black;
}
nav {
	margin-top: 1.6rem;
	margin-bottom: 3.7rem;
}

nav li {
	list-style-type: none;
	display: inline-block;
	font-size: 1.2rem;
	padding: 1em 2em;
}
nav a {
	color: black;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	font-weight: 400;
}
nav a:hover,
nav a:focus {
	color: red;
}
.wrapper {
	padding: 0 4em;
	margin: 0 auto;
	max-width: 1250px;
}
.samples {
	text-align: center;
	border: 2px solid red;
	padding: 1rem;
	margin-bottom: 3.5rem;
}
.form {
	text-align: center;
	border: 2px solid red;
	padding: 2rem;
}
.form legend {
	margin-bottom: 1rem;
}
.entry {
	width: 100%;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
	margin-bottom: 1rem;
}
.entry input, .entry button {
	text-align: center;
	padding: 1rem;
}
.entry input {
	text-align: left;
	border: 1px solid red;
	width: 16rem;
	margin-left: 1rem;

}
.entry button {
	border: 1px solid red;
}
section {
	width: calc( (99.99% - 4rem)/3 );
	display: inline-block;
	margin-right: 2rem;
}
section:last-child {
	margin-right: 0;
}
section img {
	width: 100%;
	border-radius: 5px;
	box-sizing: border-box;
}
.lower-content-text {
	text-align: center;
	padding: 0 5em;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1.3rem;
}
.lower-content-text h2:first-child {
	padding-top: 2.5rem;
}
.lower-content-text h2:last-child {
	padding-bottom: 1rem;
}
.lower-content-text h2 {
	font-size: 1.25rem;
	font-weight: 400;
	padding-top: 1rem;
}
.lower-content-text h2:hover {
	text-decoration: underline;
	text-decoration-color: red;
	text-underline-position: under;
}
.lower-content-button {
	text-align: center;
}
.lower-content-button button {
	font-size: 1.2rem;
	border: 3px solid rgba(255,0,0, .8);
	color: black;
	padding: .7rem;
	border-radius: 6px;
	margin: 2rem;
	outline: none;
}
.stores {
	vertical-align: top;
	font-size: 1.2rem;
	line-height: 1.8rem
}
.stores h3 {
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 4rem;
}
.stores p {
	margin-bottom: 3rem;
}
.testimonials {
	margin-top: 3rem;
	padding-right: 3rem;
	padding-left: 3rem;
}
.testimonials h3 {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: .2rem;
	margin-top: 2rem;
	margin-bottom: .5rem;
}
#boot-assistant {
	text-align: center;
	padding: 10%;
}
#boot-assistant img{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -3rem;
}
#boot-assistant p {
	text-align: justify;
	font-size: 1.2rem;
	line-height: 2rem;
	margin-top: 2rem;
}
#boot-assistant p a {
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-style: italic;
}
#contact-info {
	text-align: center;
	margin: 8rem auto;
	font-size: 1.4rem;
	line-height: 2.2rem;
}
#contact-info p {
	margin-bottom: 2rem;
}
#our-story {
	background-image: url(../images/snowy-day.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 30rem;
	background-position: center center;
	position: relative;
}
#our-story h2,
#our-story p {
	color: rgba(0,0,0, .8);
	position: absolute;
	text-align: center;
}
#our-story h2 {
	font-size: 1.5rem;
 	top: 85%;
 	left: 5%;
}
#our-story p {
 	top: 92%;
 	left: 5%;
}
#our-story-text {
	padding: 1rem;
}
#our-story-text p {
	font-size: 1.2rem;
	line-height: 2rem;
	margin-top: 2.1rem;
}
#our-story-text a {
	color: black;
	text-decoration: none;
	padding: .5rem 1rem;
	border: 2px solid red;
}
#our-story-text a:hover, 
#our-story-text a:focus {
	background: red;
	color: white;
}
button:hover, 
button:focus {
	color: white;
	background: rgba(255,0,0, .8);
}
footer	{
	background: #eee;
	position: relative;
	bottom:0;
	right:0;
	left:0;
	margin-top: 3rem;
}
footer img {
	height: 4rem;
	display: inline-block;
	position: absolute;
	top: 3rem;
	left: 42%;
}
footer ul {
	list-style-type: none;
	padding: 2em 0;
	line-height: 1.5rem;
}
footer ul a {
	text-decoration: none;
	color: #505151;
}
footer a:hover {
	color: black;
}

/*//BEGINNING MEDIA QUERIES//*/
/*//BEGINNING MEDIA QUERIES//*/
/*//BEGINNING MEDIA QUERIES//*/
/*//BEGINNING MEDIA QUERIES//*/

@media only screen and (max-width: 460px) {
	.toolbar {
		display: none;
	}
	.wrapper {
		padding: 0 2em;
	}
	.company-name img {
		display: none;
	}
	.logo-for-mobile {
		display: block;
		text-align: center;
		margin-bottom: -2.7rem;
	}
	.logo-for-mobile img {
		display: block;
		height: 6em;
		margin-right: auto;
		margin-left: auto;
	}
	h1 {
		margin-left: 0;
	}
	nav {
		margin-top: 0;
	}
	nav li {
		display: block;
		width: 75%;
		border-radius: .2em;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}
	nav li:first-child {
		margin-top: -3rem;
	}
	nav li:hover {
		border: 3px solid rgba(255,0,0, .8);
	}
	nav a {
		font-size: 1.2em;	
		padding: 1.5rem, 2rem;	
	}
	nav a:hover,
	nav a:focus {
	}
	section {
		width: 70%;
		height: auto;
	}
	section:first-child,
	section:last-child  {
		display: none;
	}
	section:nth-child(2)  {
		width: 100%;
		text-align: center;
	}
.lower-content-button button {
	margin-top: 1rem;
	margin-bottom: -3rem;
	}
.lower-content-text {
		display: none;
		padding-bottom: 2rem;
		margin-bottom: -4rem;
	}
	.entry input {
		width: 200px;
	}
	
	footer ul {
		padding: 1rem 0;
		line-height: 2rem;
	}
	footer li:nth-child(3) {
		display: none;
	}
	footer li:last-child {
		display: none;
	}
	footer .wrapper {
		padding: 0 1em;
	}
	footer img {
	top: 35%;
	left: 48%;
	}
}




@media only screen and (max-width: 830px) {
	#sign-up, .toolbar {
		display: none;
	}
	.logo-for-mobile  {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -1.7rem;
	}
	.logo-for-mobile img {
		display: block;
		height: 6em;
		margin-right: auto;
		margin-left: auto;
	}
	.company-name  h1 img {
	display: none;
	}
	h1 {
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 2rem;

	}
	nav {
		margin-top: 0;
	}
	nav li {
		display: block;
		width: 75%;
		border-radius: .5em;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;		
	}
	nav li:first-child {
		margin-top: -3rem;
	}
	nav li:hover {
		border: 3px solid rgba(255,0,0, .8);
	}
	nav a {
		font-size: 1.2em;	
		padding: 1.5rem, 2rem;	
	}
	nav a:hover,
	nav a:focus {
	}
	section {
		width: 70%;
		height: auto;
	}
	section:first-child,
	section:last-child  {
		display: none;
	}
	section:nth-child(2)  {
		width: 100%;
		text-align: center;
	}
	.lower-content-text {
		display: none;
		padding-bottom: 2rem;
		margin-bottom: -4rem;
	}
	
	footer ul {
		padding: 1rem 0;
		line-height: 2rem;
	}
	footer li:nth-child(3) {
		display: none;
	}
	footer li:last-child {
		display: none;
	}
	footer .wrapper {
		padding: 0 1em;
	}
	footer img {
	top: 35%;
	left: 48%;
	}
}



@media only screen
	and (min-device-width: 560px)
	and (max-device-width: 825px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: landscape) {
		.toolbar {
			display: none;
			height: 3.5rem;
			width: 3.5rem;
			top: 1rem;
			left: 1rem;
		}
		#hamburger-for-horiz-mobile  {
			display: inline-block;
			position: relative;
		}
		#hamburger-for-horiz-mobile img {
			position: absolute;
			top: 1.5rem;
			left: 4rem;
			height: 2.5rem;
		}
		.company-name h1 {
			line-height: 6rem;
			margin-left: 0;
		}
		.company-name  h1 img {
		display: none;
	}
		.logo-for-mobile {
			position: relative;
		}
		.logo-for-mobile img {
		display: block;
		position: absolute;
		height: 6rem;
		top: 0;
		right: 2rem;
	}
	h1 {
		margin-bottom: 1.5rem;
	}
		nav {
			display: none;
		}
		.lower-content-text {
		display: none;
		padding-bottom: 2rem;
		margin-bottom: -4rem;
	}
	.lower-content-button button {
		margin-top: 1.5rem;
		margin-bottom: 0;
	}
		footer ul {
			padding: 1rem 0;
			line-height: 2rem;
		}
		footer li:nth-child(3) {
			display: none;
		}
		footer li:last-child {
			display: none;
		}
		footer img {
		top: 35%;
		left: 65%;
		}
	}
	/*section:first-child,
	section:last-child  {
		display: none;
	}
	section:nth-child(2)  {
		width: 100%;
		text-align: center;
	}*/

	
	


	@media only screen and (min-width: 830px) {
		nav li {
			padding: 1em;
		}
		nav a {
			font-size: 1.1em;
		}
		section {
			width: calc( (99.99% - 4rem)/3 );
			display: inline-block;
			margin-right: 2rem;
		}
		section:last-child {
			margin-right: 0;
		}
		section img {
			width: 100%;
			border-radius: 5px;
			box-sizing: border-box;
		}

	}













