body {
	font-family: 'Lato', sans-serif;
}
.wrapper {
	width: 90%;
	background-color: #ddd;
	margin-left: auto;
	margin-right: auto;
}
.toolbar svg,
.toolbar h3 {
	display: none;
}
header {
	text-align: center;
	background: #fff;
	padding: 2em;
}
header img {
	margin-top: 3%;
	width: 6%;
	height: auto;
}
header a {
	text-decoration: none;
}
nav {
	display: block;
	height: 100%;
	width: 30%;
	background-color: black;
	float: left;
}
nav ul {
	list-style-type: none;

}
nav li {
	padding-top: .5em;
	padding-bottom: .5em;

}
nav a {
	
}
.nav a, 
.nav li {
	text-decoration: none;
	color: white;
}
.nav a:hover {
	color: blue;
}

main {
	float: right;
	width: 60%;
	margin-top: 150px;
	margin-right: 5%;
}
main h2 {
	text-align: center;
}
main img {
	max-width: 100%;
}
h1 {
	font-size: 2.5em;
	margin-bottom: 0;
}
h2 {
	font-size: 1.8em;
	margin-top: .3em;
}
h3 {

}
p {

}
#jump-to a,
#top a  {
	text-decoration: none;
	padding: 1em 2em;
}
#jump-to a:visited,
#top a:visited  {
	color: black;
}
#jump-to a:hover,
#top a:hover {
	color: blue;
}
footer {
	clear: both;
}
@media (max-width: 699px) {
	.wrapper {
		width: 95%;
	}
	.toolbar {
		margin-bottom: 2em;
	}
	.toolbar svg, 
	.toolbar h3 {
		display: block;
	}
	.toolbar svg{
		float: left;
		vertical-align: bottom;
	}
	.toolbar h3 {
		float: right;
		margin: 0;
	}
	header h1,
	header h2 {
		display: none;
	}
	nav {
		display: none;
	}
	main {
		float: none;
		width: 100%;
		margin-top: 0;
	}
}