body {
	margin-top: 0;
	font-family: 'Lato', sans-serif;
}
.wrapper {
	width: 90%;
	background-color: #ddd;
	margin-left: auto;
	margin-right: auto;
}
header {
	text-align: center;
	background: #fff;
	/*padding: 2em;*/
}
/*header img {
	margin-top: 3%;
	width: 6%;
	height: auto;
}*/
header a {
	text-decoration: none;
}
nav {
	display: block;
	height: 100%;
	width: 30%;
	background-color: black;
	float: left;
	text-align: left;
}
.close, 
.menu-button {
	display: none;
}
nav ul {
	list-style-type: none;

}
nav li {
	padding-top: .5em;
	padding-bottom: .5em;

}
nav a {
	
}
.nav {
	margin-top: 10px;
}
.nav a, 
.nav li {
	text-decoration: none;
	color: white;
}
.nav a:hover {
	color: blue;
}
#nav-checkbox {
	position: fixed;
	clip: rect(0,0,0,0);
}
main {
	float: right;
	width: 60%;
	margin-top: 10px;
	margin-right: 5%;
	margin-bottom: 50px;
}
main h2 {
	text-align: center;
}
main img {
	max-width: 100%;
}
.h-1 {
	padding-top: 2em;
}
h1 {
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 0;
}
h2 {
	font-size: 1.6em;
	margin-top: .3em;
}
header h3 {
	display: none;
}
p {

}
#jump-to a  {
	text-decoration: none;
	padding: 1em;
}
#jump-to a:visited,
#top a:visited  {
	color: black;
}
#jump-to a:hover,
#top a:hover {
	color: blue;
}
footer {
	clear: both;
	text-align: center;
	padding-bottom: 2em;
}
footer p a {
	text-decoration: none;
	color: rgba(0,0,0, .8);
}
@media (max-width: 699px) {
	.wrapper {
		width: 100%;
	}
	header h1,
	header h2 {
		display: none;
	}
	header h3 {
		display: block;
		margin-top: 0;
	}
	.h-3 {
		padding-top: 1.5rem;
	}
	nav {
		/*display: none;*/
		position: fixed;
		height: 100%;
		width: 100%;
		left: -100%;
		text-align: left;
		opacity: .85;
		overflow-y: auto;
		z-index: 100;
		transition: all .2s ease;
	}
	#nav-checkbox:checked ~ nav {
		left: 0;
	}

.ny-times-hamburger {
	display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

	.menu-button {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.close {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.close img {
		display: block;
		width: 30px;
		margin: 15px;
		cursor: pointer;
	}
	.overlay {
		display: none;
		position: fixed;
		height: 100%;
		width: 100%;
	}
	#nav-checkbox:checked ~ .overlay {
		display: block;
	}
	main {
		float: none;
		width: 100%;
		margin-top: 0;
	}
}