body {
	background: black;
	color: #eee;
	font-family: Lato, sans-serif;
	font-size: 1rem;
	}
	.toolbar {
		color: white;
		padding-top: 1em;
		padding-bottom: 1.5em;
		height: 1.5em;
		box-sizing: border-box;
		position: relative;
	}
	#hamburger img {
		height: 2.6rem;
		width: 2.6rem;
		margin-left: 2.6rem;
		position: absolute;
		top: 10px;
		left: 10px;
	}
	#sign-up {
		text-align: right;
		margin-right: 6%;
	}
	label {
		font-family: 'Lato', sans-serif;
		font-size: .8888em;
	}
	input {
		border-radius: 3px;
		border-color: #transparent;
	}
	input[type="email"] {
		margin-left: .5rem;
		padding-left: .25rem;
		background: #ddd;
		border: none;
	}
	/*clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}*/
header {
	margin-top: 1rem;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	position: relative;
}
.company-name img {
	height: 9em;
	text-align: center;
	margin-top: 2.3em;
	/*position: absolute;
	top: 10px;
	left: 100px;*/
}
nav {margin-top: 1.2rem;
	margin-bottom: 1.8rem;
}
nav li {
	list-style-type: none;
	display: inline-block;
	padding: 1em 2em;
}
nav a {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	text-decoration: none;
	font-weight: 400;
}
nav a:hover,
nav a:focus {
	color: red;
}
.wrapper {
	padding: 0 5em;
	margin: 0 auto;
	max-width: 1000px;
}
section {
	width: calc( (99.99% - 4rem)/3 );
	display: inline-block;
	margin-right: 2rem;
}
section:last-child {
	margin-right: 0;
}
section img {
	width: 100%;
	border-radius: 5px;
	box-sizing: border-box;
}
.lower-content {
	text-align: center;
	padding: 0 5em;
	margin: 0 auto;
}
h2 {
	font-size: 1.25rem;
	font-weight: 400;
	padding-top: 1rem;
}
h2:hover {
	text-decoration: underline;
	text-decoration-color: red;
	text-underline-position: under;
}
.lower-content {
	text-align: center;
}
.lower-content h2:first-child {
	padding-top: 2.5rem;
}
.lower-content h2:last-child {
	padding-bottom: 4rem;
}
.lower-content button {
	font-size: 1.2rem;
	background: red;
	color: white;
	padding: .7rem;
	border: none;
	border-radius: 5px;
	margin: 2rem;
	outline: none;
}
button:hover, 
button:focus {
	background: blue;
}
footer	{
	background: #eee;
	position: relative;
	bottom:0;
	right:0;
	left:0;
	margin-top: 3rem;
}
footer img {
	height: 4rem;
	display: inline-block;
	position: absolute;
	top: 3rem;
	left: 42%;
}
footer ul {
	list-style-type: none;
	padding: 2em 0;
}
footer ul a {
	text-decoration: none;
	color: #505151;
}
footer a:hover {
	color: black;
}







